html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  background-color: #847577;
}

#logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 20em;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 25px;
}

a:hover {
  color: #a8763e;
}

button {
  background-color: #a8763e;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  white-space: inherit;
}

.hero-img {
  background-image: url("pm-brisket.jpg");
  height: 35vh;
  background-size: cover;
}

h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
}

nav {
  background-color: #250902;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

nav li {
  display: inline;
  background-color: #640d14;
  padding: 15px;
  margin: 3px;
  color: whitesmoke;
  list-style-type: none;
}

.hero-txt {
  text-align: center;
  color: aliceblue;
  padding-top: 2vh;
  padding-bottom: 5vh;
  background-color: rgba(134, 73, 57, 0.4);
  white-space: nowrap;
}

.hero-txt h2 {
  font-size: 3em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.hero-txt p {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

main {
  padding-top: 30px;
}

main h3 {
  text-align: center;
  font-size: 2em;
}

main p {
  text-align: center;
  font-size: 1.5em;
}

h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 2px;
}

table {
  border: 3px ridge #6f1a07;
  border-collapse: collapse;
  width: 100%;
  font-size: 2em;
  text-align: left;
}

thead th {
  background-color: #6f1a07;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #a8763e;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f7f3e3;
}

tfoot {
  background-color: #6f1a07;
  color: white;
}

.menu-img {
  display: flex;
  flex: 33.3%;
  padding: 10px;
}

.about-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#about-main {
  background-color: #a8763e;
  padding: 5px;
  text-align: center;
  color: white;
}

article {
  background-color: #a8763e;
  padding: 5px;
  margin: 5px;
  color: white;
  text-align: center;
  font-size: 2em;
}

.contact-info {
  line-height: 0.3;
  white-space: nowrap;
  text-align: center;
}

main p {
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  background-color: #4d4d4d;
  color: aliceblue;
  padding: 2vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20vh;
}
